################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/RimWorld-Czech/FileContentIndex/2a14b790-cbd7-4682-a6ad-b023e60fcb4d.vsidx
/.vs/RimWorld-Czech/FileContentIndex/d181e063-007b-40e4-915b-f4777ebcd069.vsidx
/.vs/RimWorld-Czech/FileContentIndex/read.lock
/.vs/RimWorld-Czech/v17/.wsuo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
